h5py/h5*.c
h5py/utils.c
h5py/_conv.c
h5py/_proxy.c
h5py/_objects.c
h5py/_errors.c
h5py/config.pxi
h5py/_hdf5.*
h5py/eff_control.c
*.hdf5
*.pickle
*.sw?
h5py/defs.*
build/
*.pyc
dist/
MANIFEST
port.cfg
